<br>
<h3>編集画面</h3>

<div id='rmlb_edit'>

  <%= form_for @rmlb_location_edit, :url => {:controller => 'rmlb_locations', :action => 'update', :project_id => @project, :id => @rmlb_location_edit.user_id } do |f| %>
  
    <p>user_id : &nbsp;&nbsp;    <%= @rmlb_location_edit.user_id %></p>
    <p><%= content_tag(:label, l(:label_rmlb_loginid))%> : &nbsp;   <%= @rmlb_location_edit.user.login %></p>
    <p><%= content_tag(:label, l(:label_rmlb_name))%> : &nbsp;   <%= @rmlb_location_edit.user.name %></p>
    <p><%= content_tag(:label, l(:label_rmlb_start))%> : &nbsp; <%= f.text_field(:start_time, value: @rmlb_location_edit.start_time, :maxlength => 10) %></p>
    <p><%= content_tag(:label, l(:label_rmlb_end))%> : &nbsp; 
                <% if @rmlb_location_edit.id == @user_current.id %>
                  <%= f.text_field(:end_time, value: @rmlb_location_edit.end_time, :maxlength => 10) %>
                <% elsif User.current.admin? %>
                  <%= f.text_field(:end_time, value: @rmlb_location_edit.end_time, :maxlength => 10) %>
                <% else %>
                  <%= @rmlb_location_edit.end_time %>
                <% end %></p>
    <p><%= content_tag(:label, l(:label_rmlb_memo))%> : &nbsp;   <%= f.text_field(:memo, value: @rmlb_location_edit.memo, :size => "30x1", :maxlength => 30) %></p>
    
    <p>
      <%if @rmlb_group_name_1.present? %><%= @rmlb_group_name_1 %> : 
        <% @rmlb_group_list_1.each do |x| %>
          <% str = @rmlb_group_color_1 + ':' + x %>
          <label><%= f.radio_button :location, str %><%= x %></label>
        <% end %>
      <br><% end %>
      <%if @rmlb_group_name_2.present? %><%= @rmlb_group_name_2 %> : 
        <% @rmlb_group_list_2.each do |x| %>
          <% str = @rmlb_group_color_2 + ':' + x %>
          <label><%= f.radio_button :location, str %><%= x %></label>
        <% end %>
      <br><% end %>
      <%if @rmlb_group_name_3.present? %><%= @rmlb_group_name_3 %> : 
        <% @rmlb_group_list_3.each do |x| %>
          <% str = @rmlb_group_color_3 + ':' + x %>
          <label><%= f.radio_button :location, str %><%= x %></label>
        <% end %>
      <br><% end %>
      <%if @rmlb_group_name_4.present? %><%= @rmlb_group_name_4 %> : 
        <% @rmlb_group_list_4.each do |x| %>
          <% str = @rmlb_group_color_4 + ':' + x %>
          <label><%= f.radio_button :location, str %><%= x %></label>
        <% end %>
      <br><% end %>
      <%if @rmlb_group_name_5.present? %><%= @rmlb_group_name_5 %> : 
        <% @rmlb_group_list_5.each do |x| %>
          <% str = @rmlb_group_color_5 + ':' + x %>
          <label><%= f.radio_button :location, str %><%= x %></label>
        <% end %>
      <br><% end %>
      <%if @rmlb_group_name_6.present? %><%= @rmlb_group_name_6 %> : 
        <% @rmlb_group_list_6.each do |x| %>
          <% str = @rmlb_group_color_6 + ':' + x %>
          <label><%= f.radio_button :location, str %><%= x %></label>
        <% end %>
      <br><% end %>
      <%if @rmlb_group_name_7.present? %><%= @rmlb_group_name_7 %> : 
        <% @rmlb_group_list_7.each do |x| %>
          <% str = @rmlb_group_color_7 + ':' + x %>
          <label><%= f.radio_button :location, str %><%= x %></label>
        <% end %>
      <br><% end %>

      <br>
      <label><%= f.radio_button :location, '' %>unknown</label>
    </p>
    
  <%= f.submit l(:button_save) %>
  <% end %>
</div>

<script>

</script>
