  <table id="rmlb_board" border=1px>
    <tr>
      <% if @rmlb_display_id == 'true' %><th class="aa"><%= content_tag(:label, l(:label_rmlb_loginid))%></th><% end %>
      <% if @rmlb_priority_sort == 'true' %><% if @user_is_manager == 1 %><th class="ab"><%= content_tag(:label, l(:label_rmlb_priority))%></th><% end %><% end %>
      <th class="b" width="120"><%= content_tag(:label, l(:label_rmlb_name))%></th>
      <th class="c" width="120"><%= content_tag(:label, l(:label_rmlb_location))%></th>
      <th class="d" width="50"><%= content_tag(:label, l(:label_rmlb_start))%></th>
      <th class="e" width="50"><%= content_tag(:label, l(:label_rmlb_end))%></th>
      <th class="fa" width="250"><%= content_tag(:label, l(:label_rmlb_memo))%></th>
      <% if @rmlb_setting.rmlb_display_feeling %><th class="fb" width="50"><%= content_tag(:label, l(:label_rmlb_feeling))%></th><% end %>
      <th class="g"><%= content_tag(:label, l(:label_rmlb_update))%></th>
      <th class="h" width="50"><%= content_tag(:label, l(:label_rmlb_edit))%></th>
    </tr>
      
    
    <% @rmlb_locations.each do |u| %>
      <% if rmlb_group_member_arry.include?(u.user.id)  %>
        <% if (Time.now.utc - u.updated_on) > 3600*24 %>
          <% passtime_class = "old" %>
        <% elsif %>
          <% passtime_class = "" %>
        <% end %>
        
        <tr class='<%= passtime_class %>' style='background-color: <%= u.color %> ' height="30">
            <% if @rmlb_display_id == 'true' %><td><%= u.user.login %></td><% end %>
            <% if @rmlb_priority_sort == 'true' %><% if @user_is_manager == 1 %><td><%= u.user_priority %></td><% end %><% end %>
            <td><%= u.user.name %></td>
            <td><%= u.location %></td>
            <td align="center" ><%= u.start_time %></td>
            <td align="center" ><%= u.end_time %></td>
            <td><%= u.memo %></td>
            <% if @rmlb_setting.rmlb_display_feeling %><td align="center"><% if passtime_class != "old" %><%= image_tag(rmlb_image_path(u.feeling)) unless u.feeling.nil?  %><% end %></td><% end %>
            <td><%= u.updated_on.in_time_zone(@user_current_timezone).strftime('%Y/%m/%d %H:%M') %></td>
            <td><%= link_to 'edit', project_rmlb_location_path(@project, u) %></td>
            
        </tr>
      <% end %>
    <% end %>
  </table>
