<br/>


<script type="text/javascript">
    var api_key = "<%= User.current.api_key %>";
    var baseUrl = "<%= config.relative_url_root %>";
    var project_id = "<%= @project.id %>"
</script>


<!-- library -->

<!-- assets -->
<%= stylesheet_link_tag 'rmlb_projectindex.css',:plugin => 'redmine_member_location_board' %>
<%= stylesheet_link_tag 'rmlb_toggle.css',:plugin => 'redmine_member_location_board' %>
<%= javascript_include_tag 'rmlb_projectindex.js',:plugin => 'redmine_member_location_board' %>


<div id="rmlb_board">
  <input type="checkbox" id="rmlb_check1" name="auto_reload"><label for="rmlb_check1">auto reload</label><br>
  <br>


  <table id="rmlb_board" border=1px>
    <tr>
      <% if @rmlb_display_id == 'true' %><th class="a"><%= content_tag(:label, l(:label_rmlb_loginid))%></th><% end %>
      <% if @rmlb_priority_sort == 'true' %><% if @user_is_manager == 1 %><th class="h"><%= content_tag(:label, l(:label_rmlb_priority))%></th><% end %><% end %>
      <th class="b"><%= content_tag(:label, l(:label_rmlb_name))%></th>
      <th class="c"><%= content_tag(:label, l(:label_rmlb_location))%></th>
      <th class="d"><%= content_tag(:label, l(:label_rmlb_start))%></th>
      <th class="e"><%= content_tag(:label, l(:label_rmlb_end))%></th>
      <th class="f"><%= content_tag(:label, l(:label_rmlb_memo))%></th>
      <th class="g"><%= content_tag(:label, l(:label_rmlb_update))%></th>
      <th class="h"><%= content_tag(:label, l(:label_rmlb_edit))%></th>
    </tr>
      
    
    <% @rmlb_locations.each do |u| %>
      
      <% if (Time.now.utc - u.updated_on) > 3600*24 %>
        <% passtime_class = "old" %>
      <% elsif %>
        <% passtime_class = "" %>
      <% end %>
      
      <tr class='<%= passtime_class %>' style='background-color: <%= u.color %> '>
          <% if @rmlb_display_id == 'true' %><td><%= u.user.login %></td><% end %>
          <% if @rmlb_priority_sort == 'true' %><% if @user_is_manager == 1 %><td><%= u.user_priority %></td><% end %><% end %>
          <td><%= link_to u.user.name, project_rmlb_location_path(@project, u) %></td>
          <td><%= u.location %></td>
          <td><%= u.start_time %></td>
          <td><%= u.end_time %></td>
          <td><%= u.memo %></td>
          <td><%= u.updated_on.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M') %></td>
          <td></td>
          
      </tr>
    <% end %>
  </table>
  <br>
  <br>
  
  
</div>


<div id="footer_message">

</div>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>


