<br/>




<!-- library 読み込み  -->

<!-- 自作assets 読み込み  -->
<%= stylesheet_link_tag 'rmlb_projectindex.css',:plugin => 'redmine_member_location_board' %>
<%= javascript_include_tag 'rmlb_projectindex.js',:plugin => 'redmine_member_location_board' %>


<div id="rmlb_board">
  <input type="checkbox" id="rmlb_check1" name="auto_reload"><label for="rmlb_check1">自動再読み込み</label><br>
  <br>


  <table id="rmlb_board" border=1px>
    <tr>
      <th class="a"><%= content_tag(:label, l(:label_rmlb_loginid))%></th>
      <th class="b"><%= content_tag(:label, l(:label_rmlb_name))%></th>
      <th class="c"><%= content_tag(:label, l(:label_rmlb_location))%></th>
      <th class="d"><%= content_tag(:label, l(:label_rmlb_start))%></th>
      <th class="e"><%= content_tag(:label, l(:label_rmlb_end))%></th>
      <th class="f"><%= content_tag(:label, l(:label_rmlb_memo))%></th>
      <th class="g"><%= content_tag(:label, l(:label_rmlb_update))%></th>
      <th class="h"><%= content_tag(:label, l(:label_rmlb_edit))%></th>
      
    
    <% @rmlb_projectusers.each do |u| %>
    <% @rmlb_location = RmlbLocation.find_or_create(u.id) %>
    
      
      <% if (Time.now.utc - @rmlb_location.updated_on) > 3600*24 %>
        <% passtime_class = "old" %>
      <% elsif %>
        <% passtime_class = "" %>
      <% end %>
      
      <tr class='<%= passtime_class %>' style='background-color: <%= @rmlb_location.color %> '>
          <td><%= u.login %></td>
          <td><%= link_to u.name, project_rmlb_location_path(@project, @rmlb_location) %></td>
          <td><%= @rmlb_location.location %></td>
          <td><%= @rmlb_location.start_time %></td>
          <td><%= @rmlb_location.end_time %></td>
          <td><%= @rmlb_location.memo %></td>
          <td><%= @rmlb_location.updated_on.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M') %></td>
          <td></td>
      </tr>
    <% end %>
  </table>

  
</div>


<div id="footer_message">

</div>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>


