<br/>


<script type="text/javascript">
    var api_key = "<%= User.current.api_key %>";
    var baseUrl = "<%= config.relative_url_root %>";
    var project_id = "<%= @project.id %>"
</script>


<!-- library -->

<!-- assets -->
<%= stylesheet_link_tag 'rmlb_projectindex.css',:plugin => 'redmine_member_location_board' %>
<%= stylesheet_link_tag 'rmlb_toggle.css',:plugin => 'redmine_member_location_board' %>
<%= javascript_include_tag 'rmlb_projectindex.js',:plugin => 'redmine_member_location_board' %>


<div id="rmlb_board">
  <input type="checkbox" id="rmlb_check1" name="auto_reload"><label for="rmlb_check1">auto reload</label><br>
  <br>

    <% ii = 0 %>
    <% unless @rmlb_groups.nil? %>
      <% @rmlb_groups.each do |i| %>
        <br>
        <h3><%= i.name %></h3>
        <%= render :partial => 'table', :locals => { rmlb_group_member_arry: @rmlb_group_member_arry[ii] }  %>
        <% ii = ii + 1 %>
        <br>
      <% end %>
    <% end %>
    <br>

    <% if @rmlb_group_member_arry[ii].present? || @rmlb_groups.empty? %>
      <h3>Not Grouped Members</h3>
      <%= render :partial => 'table', :locals => { rmlb_group_member_arry: @rmlb_group_member_arry[ii] }  %>
      <br>
    <% end %>

    <%=   %>
</div>


<div id="footer_message">

</div>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>
