<br/>

<!-- library 読み込み  -->

<!-- 自作assets 読み込み  -->



<div id="rmlb_board">

  <table id="rmlb_board" border=1px>
    <tr>
      <th class="a"><%= content_tag(:label, l(:label_rmlb_loginid))%></th>
      <th class="b"><%= content_tag(:label, l(:label_rmlb_name))%></th>
      <th class="c"><%= content_tag(:label, l(:label_rmlb_location))%></th>
      <th class="d"><%= content_tag(:label, l(:label_rmlb_start))%></th>
      <th class="e"><%= content_tag(:label, l(:label_rmlb_end))%></th>
      <th class="f"><%= content_tag(:label, l(:label_rmlb_memo))%></th>
      <th class="g"><%= content_tag(:label, l(:label_rmlb_update))%></th>
      <th class="h"><%= content_tag(:label, l(:label_rmlb_save))%></th>
      
    <% @project.assignable_users.each do |u| %>
    <% @rmlb_location = RmlbLocation.find_or_create(u.id) %>
    <%= labelled_form_for :location, @rmlb_location, :url => {:controller => 'rmlb_locations',
                             :action => 'update', :project_id => @project, :user_id => u.id } do |f| %>
      <tr>
          <td><%= u.login %></td>
          <td><%= u.name %></td>
          <td><%= select_tag('location[location]', options_for_select(@rmlb_setting_location, :selected => @rmlb_location.location), :include_blank=>true) %></td>
          <td><%= text_area_tag('location[start_time]', @rmlb_location.start_time, :size => "10x1") %></td>
          <td><% if u.id == @user_current.id %>
                <%= text_area_tag('location[end_time]', @rmlb_location.end_time, :size => "10x1") %>
              <% elsif User.current.admin? %>
                <%= text_area_tag('location[end_time]', @rmlb_location.end_time, :size => "10x1") %>
              <% else %>
                <%= @rmlb_location.end_time %>
              <% end %></td>
          <td><%= text_area_tag('location[memo]', @rmlb_location.memo, :size => "30x1") %></td>
          <td><%= @rmlb_location.updated_on.in_time_zone('Tokyo')  %></td>
          <td><%= submit_tag l(:button_save) %></td>
      </tr>
    <% end %>
    <% end %>
  </table>
</div>



<div id="footer_message">

</div>



